/* simple style */

/* box sizing reset */

* {
    box-sizing: border-box;
}

/* body */

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #FAF7F0;
    font-size: 1.1em;
    font-family: Helvetica, sans-serif;

}

/* main */

main {
    background-color: #FAF7F0;
}

.cont-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #FAF7F0;
    padding: 10px;
}

.cont {
    /* lets make it flex wrap */
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fill, minmax(140px, 1fr) ) ; */
    /* grid-gap: 1px; */
    align-content: center;
    justify-items: center;
}



.cont-buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgb(151, 137, 216);
}

.cont-inputs
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgb(151, 137, 216);
}

.cont-buttons button
{
    width: 180px;
    height: 50px;
    font-size: 0.9em;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #9f79cd;
    background-image: linear-gradient(45deg, #6e21cc 0%, #9f79cd  51%, #6e21cc  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cont-buttons button:hover
{
    background-position: right center;
      /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.cont-buttons button:active
{
    transform: scale(0.95);
}

.cont-buttons label
{
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;

}

.minmax {
    height: 50px;
    font-size: 0.9em;
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    display: block;
    border: 0px;
    font-weight: 700;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.new-element {
    width: 140px;
    height: 50px;
    background-color: rgb(179, 177, 177);
    border: 1px solid rgb(26, 24, 24);
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    padding-top: 16px;
    font-size: 0.9em;
    font-family: Helvetica, sans-serif;
}

/* lets add hover box shadow */
 .new-element:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* lets create separate backgrounds for classes */

.new-element.FizzBuzz {
    background-color: #98A8F8;
}

.new-element.Fizz {
    background-color: #82C3EC;
}

.new-element.Buzz {
    background-color: #BCCEF8;

}

.new-element.number {
    background-color: #CDFCF6;
}



@media (min-width: 576px) {

    /* .cont-main {
        display: grid;
        grid-template-columns: auto;
    } */
    .cont {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        
    }


}

@media (min-width: 992px) {

    /* .cont-main {
        display: grid;
        grid-template-columns: auto;
    } */

    .cont {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    }

}
